.navbar-default {
    
    box-shadow: 0 15px 30px #8BC34A ;
    
    
    .navbar-default {
    
    box-shadow: 0 -15px 30px #8BC34A ;
   
    
    
    }
    
    
    .owl-next {
        
        border-radius:50%;
        
    }
